<div class="row">
    <div class="col-lg-12 ">
        <h2>Teams</h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let team of teams" (click)="onSelected(team)">
                <span class="badge"> {{team.position}} </span> {{team.name}}
            </li>
        </ul>
        <div *ngIf="selectedTeam">
            <h2>
                {{selectedTeam.name | uppercase}} is my Team
            </h2>
            <button class="btn" (click)="gotoDetail()">View Details</button>
        </div>